@import '../../base';

.faq-section-container {
  display: flex;
  gap: 1%;
  padding: 0 2%;
}

.faq-section-container > div {
  width: 50%;
}

.faq-section-title > h2 {
  padding: 50px 0 25px 20px;
}

.faq-question-content-container {
  background-color: $bq-secondary;
  border-radius: 4px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.faq-question-content-container > div {
  padding: 10px;
}

.faq-question-content-button {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  padding: 0;
  text-align: left;
}
